.App {
  text-align: center;
  margin-top: 1.5em;
}

#select {
  width: "300px";
}

#things {
  background-color: gainsboro;
  padding: 2rem;
}

#category {
  padding: 1px;
}
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #c2822f;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #c2822f;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #ddad86;
}
/*
#nav {
  position: fixed;
  background-color: #333333;
  z-index: 10;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
}
*/
#taste {
  background-image: url("campusbackground.png");
  color: white;
  padding: 2rem;
  margin: 0;
}
/*
.navlink {
  margin: 0em 5em 0em 5em;
  color: white;
  text-decoration: inherit;
  padding: 3rem;
  line-height: 3em;
  vertical-align: middle;
}*/

.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: 50rem;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.restaurantBox {
  height: 4rem;
  margin: 2rem;
  cursor: pointer;
  background-color: #c094c4;
  border-radius: 15px;
  border: 2px solid rgb(91, 70, 211);
  justify-content: space-between;
  width: 20%;
  float: left;
  display: inline;
  padding: 2px;
  margin-right: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.restaurantTitle {
  font-size: 4rem;
  text-align: left;
  margin-left: 4rem;
  background-color: #d39039;
}

.popupButton {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2rem;
}
