.App {
  margin: 0;
}

#dropdowns {
  text-align: left;
  width: 20rem;
  margin: 5rem;
}

#category {
  padding: 1px;
}

#select {
  width: "300px";
}

#taste {
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(255, 153, 0, 0.2), rgba(255, 153, 0, 0.75)), url("campusbackground.png");
  color: white;
  padding: 2rem;
  margin: 0;
  width: auto;
}

#things {
  text-align: center;
  padding: 2rem;
  background-image: url('spoonforkbackground.png');
  background-size: 65rem;
}

/* Styling for the hamburger and side bar */
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #c2822f;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 10%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  border-color: #c2822f;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #c2822f;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #ddad86;
}

.popup-box {
  text-align: center;
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  text-align: center;
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: 50rem;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  text-align: center;
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}


 /* Styling for the restaurant boxes */
.restaurantBox {
  text-align: center;
  height: 4rem;
  margin: 2rem;
  cursor: pointer;
  background-color: #c094c4;
  border-radius: 15px;
  border: 2px solid rgb(91, 70, 211);
  justify-content: space-between;
  width: 20%;
  float: left;
  display: inline;
  padding: 2px;
  margin-right: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.restaurantTitle {
  text-align: center;
  font-size: 4rem;
  text-align: left;
  margin-left: 4rem;
  background-color: #d39039;
}

.popupButton {
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2rem;
}
