.App {
    text-align: center;
  }
  
  #boxes {
    display: "flex";
    flex-direction: "row";
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  
  #select {
    width: "300px";
  }
  
  #things {
    background-color: gainsboro;
  }
  
  #category {
    padding: 1px;
  }
  
  
  
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }
   
  .box {
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
    cursor: pointer;
  }
   
  .close-icon {
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: calc(15% - 30px);
    top: calc(100vh - 85vh - 33px);
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
  }

  .restaurantBox {
    margin: 2rem;
    cursor: pointer;
    background-color: #c094c4;
    border-radius: 15px;
    border: 2px solid rgb(91, 70, 211);
    justify-content: space-between;
    width: 20%;
    float:left; 
    display:inline;
    padding: 2px;
    margin-right: 2rem;
  }